<div class="card mt-2">
    <div class="card-header bg-dark text-white">
        <h3><i class="far fa-images"></i> Recent Uploads</h3>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each images}}
                <div class="col-md-4">
                    <a href="/images/{{uniqueId}}">
                        <img src="/public/upload/{{filename}}" class="w-100 h-100 img-thumbnail">
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>