<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/public/img/imgshare-logo.png" alt="imgShare">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item active">
                        <a class="nav-link" href="/images">Upload an Image</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Hola {{ user.name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/users/logout">Logout</a>
                        </div>
                    </li>
                {{else}}
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/signin">SignIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/signup">SignUp</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>